{% extends 'base_website.html' %}
{% load static %}


{% block title %}
Достъпността за социално важни обекти - {{ block.super }}
{% endblock %}


{% block meta %}
<meta property="og:image" content="{% static "website/images/urbanobject.png" %}" />
<meta property="og:type" content="website" />
{% endblock %}



{% block content %}

<header class="header d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <h1 class="display-3">Градска информационна система</h1>
    <p class="lead">Карта на достъпността за социално важни обекти</p>
  </div>
</header>




<section class="page-section cities text-white mb-0" id="cities">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white mb-5">Градове</h2>
    <!-- About Section Content -->
    <div class="row">

      <div class="col-lg-4 ml-auto">
        <ul class="list-group text-dark">
          {% for city in all_cities1 %}
          <a href="{% url 'urbanobject_map_url' city.sysname %}" class="list-group-item-action">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ city.cityname }}
            <span class="badge badge-primary badge-pill">{{ city.count_urbanobjects }}</span>
          </li>
          </a>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-4 mr-auto">
        <ul class="list-group text-dark">
          {% for city in all_cities2 %}
          <a href="{% url 'urbanobject_map_url' city.sysname %}" class="list-group-item-action">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ city.cityname }}
            <span class="badge badge-primary badge-pill">{{ city.count_urbanobjects }}</span>
          </li>
          </a>
          {% endfor %}
        </ul>
      </div>

    </div>

    <p class="text-center mt-3"><a href="mailto:drive.soft.mail@gmail.com">Пишете ни</a>, ако искате да добавите свой град.</p>

  </div>
</section>




<section class="page-section" id="maps">
  <div class="container">





    <h2 class="page-section-heading text-center text-uppercase mb-5">Защо е необходима карта на достъпността за социално важни обекти</h2>

    <div class="row">

      <div class="col-lg-4 ml-auto">
        <img src="{% static "website/images/urbanobject.svg" %}" alt="...">
      </div>


      <div class="col-lg-8 ml-auto">

        <p class="card-text mb-4"><i class="fas fa-question-circle" style="color: #9CC925;"></i>
          Какво е това социално важни обекти в града?<br>Това са обекти, който осигуряват нормален живот в града. Обикновено всеки жител на града използва такива обекти почти ежедневно през целия си живот или през определени периоди от него.</p>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Позволява ви да оцените достъпността на социално важни обекти в града.</p>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Позволява ви да идентифицирате райони в града, в които няма социално важни обекти на пешеходно разстояние.</p>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Позволява ви да изберете най-доброто местоположение, когато създавате нов социално важен обект в града.</p>


        <h3 class="page-section-heading text-center text-uppercase mb-3 mt-4">Очаквани резултати</h3>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Използването на този инструмент може да намали необходимостта от пътуване на дълги разстояния в града.</p>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Намалява автомобилния трафик в града, което от своя страна води до много други положителни ефекти.</p>


        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Намалява необходимостта от притежаване на кола в града.</p>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Стимулира придвижване в града пеша, което от своя страна има положителен ефект върху здравето на жителите на града.</p>

        <p class="card-text"><i class="fas fa-check-square" style="color: #9CC925;"></i>
          Повишава комфорта на живот в града. </p>

      </div>

    </div>


  </div>
</section>



{% endblock %}



{% block scripts %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}