{% extends 'citytree/base_citytree.html' %}
{% load static %}


{% block title %}
Карта на градската дървесна растителност - {{ block.super }}
{% endblock %}


{% block meta %}
<meta property="og:image" content="{% static "website/images/citytree.png" %}" />
<meta property="og:type" content="website" />
{% endblock %}


<!-- меняет файл стиля для sidebar, т.к. в этом app он нужен более широкий -->
{% block css_sidebar %}
<link rel="stylesheet" href="{% static 'css/sidebar_citytree.css' %}">
{% endblock %}



{% block cssfiles %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link href="{% static 'css/citytree.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scriptfiles %}
<!-- client resize photos -->
<script src="{% static 'script/image-blob-reduce.js' %}"></script>
<script src="{% static 'script/resize_photos.js' %}"></script>
<!-- <script src="{% static 'script/citytree_resize_photos.js' %}"></script> -->
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<script type="module">
    {% include 'citytree/includes/index.js' %}
</script>

{% endblock %}







{% block sidebar %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" id="tabFilter">
            <a class="nav-link active" id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="filter" aria-selected="true">Търсене</a>
        </li>
        <li class="nav-item" role="presentation" id="tabTree" style="display: none">
            <a class="nav-link" id="tree-tab" data-toggle="tab" href="#tree" role="tab" aria-controls="tree" aria-selected="false">Дърво</a>
        </li>
        <li class="nav-item" role="presentation" id="tabInspection" style="display: none">
            <a class="nav-link" id="inspection-tab" data-toggle="tab" href="#inspection" role="tab" aria-controls="tree" aria-selected="false">Преглед</a>
        </li>
        <li class="nav-item" role="presentation" id="tabAction" style="display: none">
            <a class="nav-link" id="action-tab" data-toggle="tab" href="#action" role="tab" aria-controls="tree" aria-selected="false">Дейност</a>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active m-3" id="filter" role="tabpanel" aria-labelledby="filter-tab">
            <div style="overflow-y: auto; overflow-x: hidden; width: 100%; height: calc(100vh - 80px);" id="id_scrollbar_filter">


                <div class="form-group">
                    <label for="filter_species">Вид</label> <a href="{% url 'website_citytree_trees' %}" target="_blank"><i style="float: right;" class="far fa-question-circle"></i></a>
                    <div class="class_Filter_Species">
                        <select name="species" id="filter_species" class="form-control selectpicker" data-live-search="true" data-style="btn-outline-primary" data-actions-box="true" title="Нищо не е избрано" multiple>
                            <option data-subtext="" value="1">Неизвестно</option>
                            {% for groupQuerySet in species_by_group %}
                                <optgroup label="{{groupQuerySet.first.groupspec}}">
                                    {% for item in groupQuerySet %}
                                        <option data-subtext="{{ item.speciesname }}"  value="{{ item.id }}" {% if item.typespec_id == 2 %}style="background: #eeffee"{% endif %}>{{ item.localname }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}

                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="filter_status">Оценка</label>
                    <select name="species" id="filter_status" class="form-control selectpicker" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                        {% for item in status %}
                        <option value="{{ item.id }}">{{ item.statusname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="filter_recommendations">Препоръки</label>
                    <select name="species" id="filter_recommendations" class="form-control selectpicker" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                        {% for item in caretype %}
                        <option value="{{ item.id }}">{{ item.carename }}</option>
                        {% endfor %}
                    </select>
                </div>



                <div class="form-group">
                    <label for="filter_remarks">Бележки</label>
                    <select name="species" id="filter_remarks" class="form-control selectpicker" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                        {% for item in remark %}
                        <option value="{{ item.id }}">{{ item.remarkname }}</option>
                        {% endfor %}
                    </select>
                </div>




                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="filter_placetype">Разположение</label>
                        <select name="placetype" id="filter_placetype" class="form-control">
                            <option selected></option>
                            {% for item in placetype %}
                            <option value="{{ item.id }}">{{ item.placename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="filter_irrigationmethod">Метод на поливане</label>
                        <select name="irrigationmethod" id="filter_irrigationmethod" class="form-control">
                            <option selected></option>
                            {% for item in irrigationmethod %}
                            <option value="{{ item.id }}">{{ item.irrigationname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="filter_plantedDateFrom">Засадено от</label>
                        <input type="date" class="form-control" name="dateFrom" id="filter_plantedDateFrom">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="filter_plantedDateTo">До</label>
                        <input type="date" class="form-control" name="dateTo" id="filter_plantedDateTo">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="filter_addedDateFrom">Добавено от</label>
                        <input type="date" class="form-control" name="dateFrom" id="filter_addedDateFrom">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="filter_addedDateTo">До</label>
                        <input type="date" class="form-control" name="dateTo" id="filter_addedDateTo">
                    </div>
                </div>




                <div class="form-group">
                    <label for="filter_comment">Коментар</label>
                    <input type="text" class="form-control" name="comment" id="filter_comment">
                </div>


                <div class="form-check mb-4">
                    <input type="checkbox" class="form-check-input" id="filter_showOnlyMyTrees">
                    <label class="form-check-label" for="filter_showOnlyMyTrees">Покажи само моите дървета</label>
                </div>


                <div class="float-lg-right">
                    <button type="button" class="btn btn-light" id="reset_Filter">Изчисти</button>
                    <button style="min-width: 150px;" type="button" class="btn btn-primary" id="apply_Filter">Търси</button>
                </div>

            </div>
        </div>







        <div class="tab-pane fade ml-3 mr-1" id="tree" role="tabpanel" aria-labelledby="tree-tab">
            <div style="overflow-y: auto; overflow-x: hidden; width: 100%; height: calc(100vh - 80px);" id="id_scrollbar_tree">
                <form action="{{ obj_city.get_absolute_url }}" method="post" id="id_form_tree" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p> {{ formTree.errors }}</p>
                    <p> {{ formInspection.errors }}</p>


                    <div class="form-row mb-2">
                        <div class="col">
                            <label class="col-form-label col-form-label-sm">Lat/Lng</label>&nbsp;<a href="#" id="id_edit_coord_link"><i class="fas fa-edit align-middle" id="id_edit_coord"></i></a>
                        </div>
                        <div class="col">
                            <input type="number" name="latitude" id="latitude" class="form-control form-control-sm" step="any" style="min-width: 80px; max-width: 150px;" required>
                        </div>
                        <div class="col">
                            <input type="number" name="longitude" id="longitude" class="form-control form-control-sm" step="any" style="min-width: 80px; max-width: 150px;" required>
                        </div>
                    </div>

                    





                    <div class="form-group">
                        <label class="required" for="species">Вид</label> <a href="{% url 'website_citytree_trees' %}" target="_blank"><i style="float: right;" class="far fa-question-circle"></i></a>
                        <div class="class_Tree_Species">
                            <select name="species" id="species" class="form-control selectpicker" data-live-search="true" data-style="btn-outline-primary" title="Нищо не е избрано" required>
                                <option data-subtext="" value="1">Не знам или няма в списъка</option>
                                {% for groupQuerySet in species_by_group %}
                                    <optgroup label="{{groupQuerySet.first.groupspec}}">
                                        {% for item in groupQuerySet %}
                                            <option data-subtext="{{ item.speciesname }}"  value="{{ item.id }}" {% if item.typespec_id == 2 %}style="background: #eeffee"{% endif %}>{{ item.localname }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}

                            </select>
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="speciescomment">Коментар относно вид (ако не можете да намерите вида в списъка по-горе)</label>
                        <input type="text" class="form-control" name="speciescomment" id="speciescomment">
                    </div>

                    <div class="form-group">
                        <label for="comment">Коментар за дървето</label>
                        <textarea class="form-control" name="comment" id="comment" row="4"></textarea>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="required" for="placetype">Разположение</label>
                            <select name="placetype" id="placetype" class="form-control" required>
                                <!-- <option selected></option> -->
                                {% for item in placetype %}
                                <option value="{{ item.id }}">{{ item.placename }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="irrigationmethod">Метод на поливане</label>
                            <select name="irrigationmethod" id="irrigationmethod" class="form-control" required>
                                {% for item in irrigationmethod %}
                                <option value="{{ item.id }}">{{ item.irrigationname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dateplanted">Засадено</label>
                            <input type="date" class="form-control" name="dateplanted" id="dateplanted">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="googlestreeturl">Линк към Google Street View</label>
                            <input type="text" class="form-control" name="googlestreeturl" id="googlestreeturl">
                        </div>
                    </div>





                    <div id="divExistsTree" class="mb-5 mt-3">

                        <div class="form-group">
                            <!-- <button type="button" class="btn btn-light" style="width: 100%" id="button_show_inspact">Show inspections and actions</button> -->
                            <label for="divTreeInspActData_EditTree">Прегледи и дейности</label>
                            <div id="divTreeInspActData_EditTree">
                                <table id="table_InspActData_EditTree" class="table-sm" data-sort-name="datetime" data-sort-order="desc">
                                    <thead>
                                    <tr>
                                        <th data-field="datetime" data-formatter="dateFormatter" data-sortable="true">Дата</th>
                                        <th data-field="type" data-formatter="operateTranslater">Тип</th>
                                        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEventsTreeEdit"></th>
                                    </tr>
                                    </thead>
                                </table>
                                <script>
                                    function dateFormatter(value, row) {
                                        return value.slice(0, 10)
                                    }

                                    function operateTranslater(value, row) {
                                        if (value === "Inspection") { return "Преглед" }
                                        if (value === "Action") { return "Дейност" }
                                    }

                                    function operateFormatter(value, row, index) {

                                        if (row.type=="Inspection" && (row.photo1 !=="" || row.photo2 !=="" || row.photo3 !=="")) {
                                            return [
                                                '<a class="edit" href="javascript:void(0)" title="Edit">',
                                                '<i style="font-size:15pt" class="fa fa-edit"></i>',
                                                '</a>&nbsp;&nbsp;&nbsp;',
                                                '<a class="photos" href="javascript:void(0)" title="Photos">',
                                                '<i style="font-size:15pt" class="fa fa-camera"></i>',
                                                '</a>'
                                            ].join('')
                                        } else {
                                            return [
                                                '<a class="edit" href="javascript:void(0)" title="Edit">',
                                                '<i style="font-size:15pt" class="fa fa-edit"></i>',
                                                '</a>'
                                            ].join('')
                                        }
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-6">
                                <button type="button" class="btn btn-light" id="id_button_NewInspection" style="width: 100%">Нов преглед</button>
                            </div>
                            <div class="form-group col-6">
                                <button type="button" class="btn btn-light" id="id_button_NewAction" style="width: 100%">Нова дейност</button>
                            </div>
                        </div>

                    </div>







                    <div id="divNewTree">
                        <div class="form-group mt-5">
                            <label><b>Направете първ преглед за това дърво</b></label>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="required" for="height">Височина (м)</label>
                                <input type="number" name="height" id="height" class="form-control form-control-sm" step="1" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="required" for="crowndiameter">Диаметър на короната (м)</label>
                                <input type="number" name="crowndiameter" id="crowndiameter" class="form-control form-control-sm" step="0.1" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="required" for="trunkgirth">Обиколка на ствола (см)</label>
                                <input type="number" name="trunkgirth" id="trunkgirth" class="form-control form-control-sm" step="1" required>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="required" for="status">Оценка</label>
                            <select name="status" id="status" class="form-control" required>
                                <!-- <option selected></option> -->
                                {% for item in status %}
                                <option value="{{ item.id }}">{{ item.statusname }}</option>
                                {% endfor %}
                            </select>
                        </div>



                        <div class="form-group">
                            <label for="id_remarks">Бележки</label>

                            <select class="form-control selectpicker" name="remarks" id="id_remarks" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                                {% for item in remark %}
                                <option value="{{ item.id }}">{{ item.remarkname }}</option>
                                {% endfor %}
                            </select>
                        </div>



                        <div class="form-group">
                            <label for="id_recommendations">Препоръки</label>

                            <select class="form-control selectpicker" name="recommendations" id="id_recommendations" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                                <!-- <option value="" selected>---------</option>-->
                                {% for item in caretype %}
                                <option value="{{ item.id }}">{{ item.carename }}</option>
                                {% endfor %}
                            </select>
                        </div>



                        <!--
                                                <div class="form-group">
                                                    <label for="id_photo1">Photo 1:</label>
                                                    <input type="file" name="photo1" accept="image/*" id="id_photo1">
                                                </div>

                                                <div class="form-group">
                                                    <label for="id_photo1">Photo 2:</label>
                                                    <input type="file" name="photo2" accept="image/*" id="id_photo2">
                                                </div>

                                                <div class="form-group">
                                                    <label for="id_photo1">Photo 3:</label>
                                                    <input type="file" name="photo3" accept="image/*" id="id_photo3">
                                                </div>
                        -->


                        <div class="form-row">
                            <div class="form-group col-4 align-self-end">
                                <img src="{% static 'images/take-photo.png' %}" class="img-fluid rounded" id="id_first_insp_img_photo1" onclick="document.getElementById('id_first_insp_photo1').click();">
                            </div>
                            <div class="form-group col-4 align-self-end">
                                <img src="{% static 'images/take-photo.png' %}" class="img-fluid rounded" id="id_first_insp_img_photo2" onclick="document.getElementById('id_first_insp_photo2').click();">
                            </div>
                            <div class="form-group col-4 align-self-end">
                                <img src="{% static 'images/take-photo.png' %}" class="img-fluid rounded" id="id_first_insp_img_photo3" onclick="document.getElementById('id_first_insp_photo3').click();">
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-4 text-center">
                                <input type="file" accept="image/*" id="id_first_insp_photo1" style="display: none;">
                                <!-- <input type="button" value="Browse..." style="width: 100%" class="btn btn-outline-secondary" onclick="document.getElementById('id_first_insp_photo1').click();" /> -->

                                <button class="btn btn-outline-secondary" id="id_first_insp_photo1_browse_button" type="button" style="width: 100%" onclick="document.getElementById('id_first_insp_photo1').click();">
                                    <span id="id_first_insp_photo1_loading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Browse...
                                </button>
                                <input type="hidden" name="photo1_newname" id="id_first_insp_photo1_new_name">
                            </div>

                            <div class="form-group col-4 text-center">
                                <input type="file" accept="image/*" id="id_first_insp_photo2" style="display: none;">
                                <!-- <input type="button" value="Browse..." style="width: 100%" class="btn btn-outline-secondary" onclick="document.getElementById('id_first_insp_photo2').click();" /> -->
                                <button class="btn btn-outline-secondary" id="id_first_insp_photo2_browse_button" type="button" style="width: 100%" onclick="document.getElementById('id_first_insp_photo2').click();">
                                    <span id="id_first_insp_photo2_loading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Browse...
                                </button>
                                <input type="hidden" name="photo2_newname" id="id_first_insp_photo2_new_name">
                            </div>

                            <div class="form-group col-4 text-center">
                                <input type="file" accept="image/*" id="id_first_insp_photo3" style="display: none;">
                                <!-- <input type="button" value="Browse..." style="width: 100%" class="btn btn-outline-secondary" onclick="document.getElementById('id_first_insp_photo3').click();" /> -->
                                <button class="btn btn-outline-secondary" id="id_first_insp_photo3_browse_button" type="button" style="width: 100%" onclick="document.getElementById('id_first_insp_photo3').click();">
                                    <span id="id_first_insp_photo3_loading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Browse...
                                </button>
                                <input type="hidden" name="photo3_newname" id="id_first_insp_photo3_new_name">
                            </div>

                        </div>






                    </div>

                    <input type="hidden" id="treeId" name="treeId">

                    <!--
                    <div class="float-lg-right mt-3">
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteModal" id="deleteButton" disabled>Delete</button>
                        <button type="button" class="btn btn-secondary" id="button_CloseTabTree">Close</button>
                        <button style="min-width: 105px;" type="submit" class="btn btn-primary" name="send" value="save" id="saveButton">Save</button>
                    </div> -->

                    <div class="form-row mt-4">
                        <div class="form-group col-3 text-center">
                            <button type="button" style="width: 100%" class="btn btn-light" data-toggle="modal" data-target="#deleteModal" id="deleteButton" disabled>Изтрий</button>
                        </div>
                        <div class="form-group col-3 text-center">
                            <button type="button" style="width: 100%" class="btn btn-secondary" id="button_CloseTabTree">Изход</button>
                        </div>
                        <div class="form-group col-6 text-center">
                            <button style="width: 100%; display: none;" type="submit" class="btn btn-primary" name="send" value="save" id="saveButtonSubmit">Запази</button>
                            <!-- <button style="width: 100%" type="button" class="btn btn-primary" name="send" value="save" id="saveButton">Запази</button> -->

                            <button class="btn btn-primary" id="saveButton" type="button" style="width: 100%">
                                <span id="saveButtonLoading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Запази
                            </button>


                        </div>
                    </div>





                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Изтриване</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Наистина ли искате да изтриете това дърво?
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-light" name="send" value="delete">Изтрий</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмени</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>






        <div class="tab-pane fade ml-3 mr-1" id="inspection" role="tabpanel" aria-labelledby="inspection-tab">
            <div style="overflow-y: auto; overflow-x: hidden; width: 100%; height: calc(100vh - 80px);" id="id_scrollbar_inspection">
                <form action="{{ obj_city.get_absolute_url }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p> {{ formInspection.errors }}</p>



                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="required" for="insp_height">Височина (м)</label>
                            <input type="number" name="height" id="insp_height" class="form-control form-control-sm" step="1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="required" for="insp_crowndiameter">Диаметър на короната (м)</label>
                            <input type="number" name="crowndiameter" id="insp_crowndiameter" class="form-control form-control-sm" step="0.1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="required" for="insp_trunkgirth">Обиколка на ствола (см)</label>
                            <input type="number" name="trunkgirth" id="insp_trunkgirth" class="form-control form-control-sm" step="1" required>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="required" for="insp_status">Оценка</label>
                        <select name="status" id="insp_status" class="form-control" required>
                            <!-- <option selected></option> -->
                            {% for item in status %}
                            <option value="{{ item.id }}">{{ item.statusname }}</option>
                            {% endfor %}
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="id_insp_remarks">Бележки</label>

                        <select class="form-control selectpicker" name="remarks" id="id_insp_remarks" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                            {% for item in remark %}
                            <option value="{{ item.id }}">{{ item.remarkname }}</option>
                            {% endfor %}
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="id_insp_recommendations">Препоръки</label>
                        <select class="form-control selectpicker" name="recommendations" id="id_insp_recommendations" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                            {% for item in caretype %}
                            <option value="{{ item.id }}">{{ item.carename }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- <div class="form-group">
                        <button type="button" class="btn btn-light" style="width: 100%" id="button_show_insp_photos">Show photos</button>
                    </div> -->



                    <div class="form-row mt-5">
                        <div class="form-group col-4 align-self-end">
                            <img src="{% static 'images/no-photo.png' %}" class="img-fluid rounded" id="id_insp_img_photo1">
                            <a href="#"><i class="far fa-times-circle fa-2x iconDeletePhoto" onclick="document.getElementById('id_insp_photo1_filename').value='*will_be_deleted*'; $('#id_insp_img_photo1').attr('src', '{% static 'images/no-photo.png' %}');"></i></a>
                        </div>
                        <div class="form-group col-4 align-self-end">
                            <img src="{% static 'images/no-photo.png' %}" class="img-fluid rounded" id="id_insp_img_photo2">
                            <a href="#"><i class="far fa-times-circle fa-2x iconDeletePhoto" onclick="document.getElementById('id_insp_photo2_filename').value='*will_be_deleted*'; $('#id_insp_img_photo2').attr('src', '{% static 'images/no-photo.png' %}');"></i></a>
                        </div>
                        <div class="form-group col-4 align-self-end">
                            <img src="{% static 'images/no-photo.png' %}" class="img-fluid rounded" id="id_insp_img_photo3">
                            <a href="#"><i class="far fa-times-circle fa-2x iconDeletePhoto" onclick="document.getElementById('id_insp_photo3_filename').value='*will_be_deleted*'; $('#id_insp_img_photo3').attr('src', '{% static 'images/no-photo.png' %}');"></i></a>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4 text-center">
                            <input type="file" accept="image/*" id="id_insp_photo1" style="display: none;">

                            <button class="btn btn-outline-secondary" id="id_insp_photo1_browse_button" type="button" style="width: 100%" onclick="document.getElementById('id_insp_photo1').click();">
                                <span id="id_insp_photo1_loading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Browse...
                            </button>
                            <input type="hidden" name="photo1_newname" id="id_insp_photo1_new_name">

                            <!-- <input type="button" value="Browse..." style="width: 100%" class="btn btn-outline-secondary" onclick="document.getElementById('id_insp_photo1').click();" /> -->
                        </div>
                        <div class="form-group col-4 text-center">
                            <input type="file" accept="image/*" id="id_insp_photo2" style="display: none;">

                            <button class="btn btn-outline-secondary" id="id_insp_photo2_browse_button" type="button" style="width: 100%" onclick="document.getElementById('id_insp_photo2').click();">
                                <span id="id_insp_photo2_loading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Browse...
                            </button>
                            <input type="hidden" name="photo2_newname" id="id_insp_photo2_new_name">
                            <!-- <input type="button" value="Browse..." style="width: 100%" class="btn btn-outline-secondary" onclick="document.getElementById('id_insp_photo2').click();" /> -->
                        </div>
                        <div class="form-group col-4 text-center">
                            <input type="file" accept="image/*" id="id_insp_photo3" style="display: none;">

                            <button class="btn btn-outline-secondary" id="id_insp_photo3_browse_button" type="button" style="width: 100%" onclick="document.getElementById('id_insp_photo3').click();">
                                <span id="id_insp_photo3_loading" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Browse...
                            </button>
                            <input type="hidden" name="photo3_newname" id="id_insp_photo3_new_name">
                            <!-- <input type="button" value="Browse..." style="width: 100%" class="btn btn-outline-secondary" onclick="document.getElementById('id_insp_photo3').click();" /> -->
                        </div>
                    </div>



                    <input type="hidden" id="id_insp_photo1_filename" name="insp_photo1_filename">
                    <input type="hidden" id="id_insp_photo2_filename" name="insp_photo2_filename">
                    <input type="hidden" id="id_insp_photo3_filename" name="insp_photo3_filename">

                    <input type="hidden" id="inspTreeId" name="treeId">
                    <input type="hidden" id="inspId" name="inspId">



                    <!--
                    <div class="float-lg-right">
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#insp_deleteModal" id="insp_deleteButton" disabled>Delete</button>
                        <button type="button" class="btn btn-secondary" id="button_CloseTabInsp">Close</button>
                        <button style="min-width: 105px;" type="submit" class="btn btn-primary" name="send" value="saveInsp" id="saveInspButton">Save</button>
                    </div> -->

                    <div class="form-row mt-4">
                        <div class="form-group col-3 text-center">
                            <button type="button" style="width: 100%" class="btn btn-light" data-toggle="modal" data-target="#insp_deleteModal" id="insp_deleteButton" disabled>Изтрий</button>
                        </div>
                        <div class="form-group col-3 text-center">
                            <button type="button" style="width: 100%" class="btn btn-secondary" id="button_CloseTabInsp">Изход</button>
                        </div>
                        <div class="form-group col-6 text-center">
                            <button style="display: none" type="submit" class="btn btn-primary" name="send" value="saveInsp" id="saveInspButtonSubmit">Запази</button>
                            <button style="width: 100%" type="button" class="btn btn-primary" name="send" value="saveInsp" id="saveInspButton">Запази</button>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="insp_deleteModal" tabindex="-1" role="dialog" aria-labelledby="insp_deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="insp_deleteModalLabel">Изтриване</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Наистина ли искате да изтриете този преглед?
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-light" name="send" value="deleteInsp">Изтрий</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмени</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>






        <div class="tab-pane fade ml-3 mr-1" id="action" role="tabpanel" aria-labelledby="action-tab">
            <div style="overflow-y: auto; overflow-x: hidden; width: 100%; height: calc(100vh - 80px);">
                <form action="{{ obj_city.get_absolute_url }}" method="post">
                    {% csrf_token %}
                    <p> {{ formAction.errors }}</p>



                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="required" for="id_act_date">Дата</label>
                            <input type="date" class="form-control" name="date" id="id_act_date" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="id_act_executor">Изполнител</label>
                            <input type="text" class="form-control" name="executor" id="id_act_executor">
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="id_act_actions">Извършени дейности</label>
                        <select class="form-control selectpicker" name="actions" id="id_act_actions" data-style="btn-outline-primary" title="Нищо не е избрано" multiple>
                            {% for item in caretype %}
                            <option value="{{ item.id }}">{{ item.carename }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_act_comment">Коментар</label>
                        <input type="text" class="form-control" name="comment" id="id_act_comment">
                    </div>


                    <input type="hidden" id="actionTreeId" name="treeId">
                    <input type="hidden" id="actionId" name="actionId">



                    <div class="form-row mt-4">
                        <div class="form-group col-3 text-center">
                            <button type="button" style="width: 100%" class="btn btn-light" data-toggle="modal" data-target="#act_deleteModal" id="act_deleteButton" disabled>Изтри</button>
                        </div>
                        <div class="form-group col-3 text-center">
                            <button type="button" style="width: 100%" class="btn btn-secondary" id="button_CloseTabAct">Изход</button>
                        </div>
                        <div class="form-group col-6 text-center">
                            <button style="width: 100%" type="submit" class="btn btn-primary" name="send" value="saveAct" id="saveActButton">Запази</button>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="act_deleteModal" tabindex="-1" role="dialog" aria-labelledby="act_deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="act_deleteModalLabel">Изтриване</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Наистина ли искате да изтриете тази дейност?
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-light" name="send" value="deleteAct">Изтрий</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмени</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>









    </div>

{% endblock %}


{% block header %}
{% endblock %}


{% block map %}

<div id="mapid" style="width: 100%; height: calc(100vh - 60px);"></div>
<button id="doneMarkerMobile" class="btn btn-success" style="display: none">Готово</button>
<button id="doneEditMarkerMobile" class="btn btn-success" style="display: none">Готово</button>
<button id="cancelMarkerMobile" class="btn btn-secondary" style="display: none">&#x2715;</button>



<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="id_SlideShow_Modal" style="z-index:1100">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div id="id_container_Modal">
                <div id="id_carousel_Modal" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators"></ol>
                    <div class="carousel-inner"></div>

                    <a class="carousel-control-prev" href="#id_carousel_Modal" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предишната</span>
                    </a>
                    <a class="carousel-control-next" href="#id_carousel_Modal" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следваща</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalTreeInfo">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <span style="font-size: 1.5em; font-weight: bold;" class="modal-title" id="id_treepreview_title_local_name">Species name</span>
                <span style="font-size: 1.5em" class="modal-title">&nbsp-&nbsp</span>
                <span style="font-size: 1.5em; font-style: italic;" class="modal-title" id="id_treepreview_title_species_name">Local name</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body p-1 pt-3">

                <div class="container">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <!-- <img src="{% static 'images/take-photo.png' %}" class="img-fluid rounded" style="width: 100%"> -->

                            <div id="id_container_TreePreview">
                                <div id="id_carousel_TreePreview" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <ol class="carousel-indicators"></ol>
                                    <div class="carousel-inner"></div>

                                    <a class="carousel-control-prev" href="#id_carousel_TreePreview" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Предишната</span>
                                    </a>
                                    <a class="carousel-control-next" href="#id_carousel_TreePreview" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Следваща</span>
                                    </a>
                                </div>
                            </div>


                        </div>

                        <div class="form-group col-lg-6">
                            <h3 style="color: #56abb2; font-size: 2.4rem; font-weight: 300; line-height: 3rem; margin-bottom: 10px;">Информация за дърво</h3>


                            <div class="container">
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                                    <div class="col-2 pl-1">Оценка</div>
                                    <div class="col-10 pr-1" id="id_treepreview_status">col</div>
                                </div>
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                                    <div class="col-4 pl-1">Височина (м)</div>
                                    <div class="col-8 pr-1" id="id_treepreview_height">col</div>
                                </div>
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                                    <div class="col-4 pl-1">Диаметър на короната (м)</div>
                                    <div class="col-8 pr-1" id="id_treepreview_crown">col</div>
                                </div>
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                                    <div class="col-4 pl-1">Обиколка на ствола (см)</div>
                                    <div class="col-8 pr-1" id="id_treepreview_trunk">col</div>
                                </div>
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd" id="id_div_treepreview_googlestreetview">
                                    <div class="col-4 pl-1">Google Street View</div>
                                    <div class="col-8 pr-1" id="id_treepreview_googlestreetview">col</div>
                                </div>
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd" id="id_div_treepreview_remarks">
                                    <div class="col-4 pl-1">Бележки</div>
                                    <div class="col-8 pr-1" id="id_treepreview_remarks">col</div>
                                </div>
                                <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd" id="id_div_treepreview_recommends">
                                    <div class="col-4 pl-1">Препоръки</div>
                                    <div class="col-8 pr-1" id="id_treepreview_recommends">col</div>
                                </div>
                            </div>


                            <h3 style="color: #56abb2; font-size: 2.4rem; font-weight: 300; line-height: 3rem; margin-bottom: 10px; margin-top: 30px;">Прегледи и дейности</h3>

                            <div id="divTreeInspActData_PreviewTree">
                                <table id="table_InspActData_PreviewTree" class="table-sm" data-sort-name="datetime" data-sort-order="desc">
                                    <thead>
                                    <tr>
                                        <th data-field="datetime" data-formatter="dateFormatterPreview" data-sortable="true">Дата</th>
                                        <th data-field="type" data-formatter="operateTranslater">Тип</th>
                                        <th data-field="operate" data-formatter="operateFormatterPreview" data-events="operateEventsPreviewTree"></th>
                                    </tr>
                                    </thead>
                                </table>
                                <script>
                                    function dateFormatterPreview(value, row) {
                                        return value.slice(0, 10)
                                    }

                                    function operateTranslater(value, row) {
                                        if (value === "Inspection") { return "Преглед" }
                                        if (value === "Action") { return "Дейност" }
                                    }

                                    function operateFormatterPreview(value, row, index) {
                                        if (row.type=="Inspection" && (row.photo1 !=="" || row.photo2 !=="" || row.photo3 !=="")) {
                                            return [
                                                '<a class="edit" href="javascript:void(0)" title="Edit">',
                                                '<i style="font-size:15pt" class="fa fa-edit"></i>',
                                                '</a>&nbsp;&nbsp;&nbsp;',
                                                '<a class="photos" href="javascript:void(0)" title="Photos">',
                                                '<i style="font-size:15pt" class="fa fa-camera"></i>',
                                                '</a>'
                                            ].join('')
                                        } else {
                                            return [
                                                '<a class="edit" href="javascript:void(0)" title="Edit">',
                                                '<i style="font-size:15pt" class="fa fa-edit"></i>',
                                                '</a>'
                                            ].join('')
                                        }
                                    }
                                </script>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="id_editButton_TreePreview">Редактиране</button>
                <button type="button" class="btn btn-primary" id="id_closeButton_TreePreview" data-dismiss="modal" style="min-width: 150px">Затвори</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="id_Stat_Modal" style="z-index:1100">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


            <div class="modal-header">
                <h3 style="color: #56abb2; font-size: 2.4rem; font-weight: 300">Статистика</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body p-3 pt-3">

                <div class="form-group col-lg-12">

                    <div class="container">

                        <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                            <div class="col-10 pl-1">Брой дървета <i class="fa fa-question-circle" style="color: #56abb2" data-toggle="tooltip" data-original-title="Здрави дърветата"></i></div>
                            <div class="col-2 pr-1" id="id_statform_count">col</div>
                        </div>

                        <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                            <div class="col-10 pl-1">Сухи дървета</div>
                            <div class="col-2 pr-1" id="id_statform_died">col</div>
                        </div>

                        <div class="row pb-2 pt-2" style="border-bottom: 1px solid #dddddd">
                            <div class="col-10 pl-1">Липсващи дървета <i class="fa fa-question-circle" style="color: #56abb2" data-toggle="tooltip" data-original-title="Включва и пъновете"></i></div>
                            <div class="col-2 pr-1" id="id_statform_absent">col</div>
                        </div>

                        <div class="row pb-2 pt-2">
                            <div class="col-12 pl-1">
                                <h5 style="color: #56abb2; font-size: 1.4rem; font-weight: 300; line-height: 3rem; margin-bottom: 10px;">Годишни статистики</h5>
                            </div>

                            <div class="col-12 pl-0 pr-0">
                                <div class="accordion" id="accordionYearStat">

                                </div>
                            </div>

                        </div>

                        <div class="row pb-0 pt-2" >
                            <div class="col-12 pl-1" id="id_statform_updated">
                                <p style="color: gray; font-style: italic; font-size: 8pt" id="id_stat_updated"></p>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


{% endblock %}