.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  /*border:1px solid #00000070;*/
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px; /* 2px if border enabled */
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.custom-div-icon i.awesome {
   margin: 12px auto;
   font-size: 17px;
}


.marker-dot {
    height: 12px;
    width: 12px;
    border:1px solid #000000A0;
    border-radius: 50%;
    display: inline-block;
}




.jstree-default .jstree-wholerow {
    height: 34px !important;
}

.jstree-default .jstree-node {
    line-height: 34px !important;
}
.jstree-anchor {
	vertical-align: baseline !important;
}

.jstree-default>.jstree-no-dots .jstree-closed>.jstree-ocl {
    background-position: -4px 1px !important;
}

.jstree-default>.jstree-no-dots .jstree-open>.jstree-ocl {
    background-position: -36px 1px !important;
}

.jstree-icon:empty {
    height: 33px !important;
}

#jstree {
  border-radius: 5px;
  border: 1px solid #cccccc;
}