{% load static %}

<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
        UrbanGis
        {% endblock %}
    </title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <!-- Custom styles for this template дает возможность поменять файл стиля, например если нужно более широкий sidebar -->
    {% block css_sidebar %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% endblock %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>


    <script src="{% static 'script/easy-button.js' %}"></script>
    <link href="{% static 'css/easy-button.css' %}" rel="stylesheet"/>


    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

    <script src="{% static 'script/heatmap.min.js' %}"></script>
    <script src="{% static 'script/leaflet-heatmap.js' %}"></script>


    <!-- CDN link used below is compatible with this example -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.12.1/css/all.min.css">

    <!-- override bootstrap-select style -->
    <link href="{% static 'css/citytree.css' %}" rel="stylesheet"/>


    <!-- screw-filereader will take care of exif rotation for u -->
    <script src="https://cdn.jsdelivr.net/npm/screw-filereader@1.4.3/index.min.js"></script>

    <!-- to put scripts -->
    {% block head %}
    {% endblock %}


</head>

<body>
<div class="main-wrapper">
    <div id="app">


        <!-- wrapper -->
        <div class="d-flex" id="wrapper"> <!-- toggled = hided -->

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <!-- <div class="sidebar-heading"> {{ obj_city.cityname }} </div>-->
                <div class="list-group list-group-flush" style="margin-top: 15px">

                    {% block sidebar %}
                    {% endblock %}

                </div>
            </div>
            <!-- /#sidebar-wrapper -->


            <!-- Header -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Menu</button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Начало<span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMap" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Карти
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMap">

                                    <a class="dropdown-item{% if '/roadaccident/' in request.path %} active{% endif %}" href="/roadaccident/{{obj_city.sysname}}/">Пътно транспортни произшествия</a>
                                    <a class="dropdown-item{% if '/citytree/' in request.path %} active{% endif %}" href="/citytree/{{obj_city.sysname}}/">Градска растителност</a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCity" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Град
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCity">
                                    {% for city in obj_all_cities %}
                                    <a class="dropdown-item{% if city.get_absolute_url == obj_city.get_absolute_url %} active{% endif %}" href="{{ city.get_absolute_url }}">{{ city.cityname }}</a>
                                    {% endfor %}
                                </div>
                            </li>

                        </ul>


                        <ul class="navbar-nav ml-3">
                            {% if user.is_authenticated %}
                            <span class="navbar-text">
                                Hello, {{ user.get_username }}
                              </span>

                            <form class="form-inline ml-2">
                                <a class="btn btn-outline-secondary" href="{% url 'logout'%}?next={{request.path}}" role="button">Излез</a>
                            </form>

                            {% else %}
                            <form class="form-inline">
                                <a class="btn btn-outline-secondary" href="{% url 'login'%}?next={{request.path}}" role="button">Влез</a>
                            </form>
                            {% endif %}
                        </ul>


                        {% block header %}
                        {% endblock %}

                    </div>
                </nav>

                <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">

                    {% block map %}
                    {% endblock %}

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <!-- https://developer.snapappointments.com/bootstrap-select/examples/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>





        <!-- Menu Toggle Script -->
        <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });



</script>


    </div>
</div>


</body>

</html>
